/* CSS VARIABLES let us OVERRIDE the Bootstrap color palette:
 * primary, secondary, success, danger, warning, info, light, dark
 * (need to specify our color's RGB value in both formats below)
*/
:root {
  --bs-primary: rgb(255, 90, 233) !important;
  --bs-primary-rgb: 255, 90, 233 !important;
}